<footer class="footer" id="contact">
  <div class="section__container footer__container">
    <div class="footer__col">
      <div class="footer__logo">
        <a href="#" class="logo">Sign Sense</a>
      </div>
      <p>
        Join us in breaking barriers and making communication between deaf and
        hearing people easy.
      </p>
      <ul class="footer__socials">
        <li>
          <a href="#" aria-label="Facebook"><i class="ri-facebook-fill"></i></a>
        </li>
        <li>
          <a href="#" aria-label="Twitter"><i class="ri-twitter-fill"></i></a>
        </li>
        <li>
          <a href="#" aria-label="LinkedIn"><i class="ri-linkedin-fill"></i></a>
        </li>
        <li>
          <a href="#" aria-label="Pinterest"
            ><i class="ri-pinterest-fill"></i
          ></a>
        </li>
      </ul>
    </div>
    <div class="footer__col">
      <h4>Company</h4>
      <ul class="footer__links">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Press</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Affiliates</a></li>
      </ul>
    </div>
    <div class="footer__col">
      <h4>Services</h4>
      <ul class="footer__links">
        <li><a href="#">Our Services</a></li>
        <li><a href="#">Library</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">FAQs</a></li>
      </ul>
    </div>
    <div class="footer__col">
      <h4>Support</h4>
      <ul class="footer__links">
        <li><a href="#">Help Center</a></li>
        <li><a href="#">Contact Support</a></li>
        <li><a href="#">Cancellation Policy</a></li>
        <li><a href="#">Security</a></li>
      </ul>
    </div>
  </div>
  <div class="footer__bar">
    <p>Copyright © 2024 Sign Sense. All rights reserved.</p>
  </div>
</footer>
